<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shaily.crickSimple">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" android:required="true"  />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cricket2022">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity
            android:name="com.shaily.crickSimple.RecordBowling"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.shaily.crickSimple.SelectGameType"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.shaily.crickSimple.ChallengeScreen"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.shaily.crickSimple.SelectChallenge"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.shaily.crickSimple.CongratsScreen"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.shaily.crickSimple.ScoreBoardScreen"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.shaily.crickSimple.EnterOvers"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.shaily.crickSimple.EnterName"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.shaily.crickSimple.SelectBowler"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.shaily.crickSimple.DashBoardActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.shaily.crickSimple.SplashScreen"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>